<h1>Sign In</h1>
<div>{{errorMessage}}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
  <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput formControlName="email" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>password</mat-label>
    <input matInput type="password" formControlName="password" required>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button color="primary">Login</button>
</div>
</form>
<a routerLink="/register">Go to Register</a>