<div class="app">
  <div class="example-button-container home-button">
    <a href="/todo" mat-fab><mat-icon>home</mat-icon></a>
  </div>
  <!-- <div class="home-button"><a mat-raised-button href="/todo">Home</a></div> -->
  <div class="login-button">Welcome {{loggedInUserName}}.   <a mat-raised-button href="/login">Login</a></div>
  
  <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
      <a mat-menu-item href="/login">Login</a>
      <a mat-menu-item  href="/todo">Todo</a>
  </mat-menu> -->
  <div class="app-content">
    <router-outlet />
  </div>
  
</div>