table {
  width: 100%;
}

a.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
a.link:hover {
  color: blue;
  text-decoration: none;
}

.add-new-align-right {
  text-align: right;
}

.blue-text {
  color: blue;
}